/* استایل‌های صفحه اصلی (index.tsx) */

.home-container {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0;
}

.carousel-container {
  position: relative;
  left: -8px;
  width: calc(100% + 16px);
  padding-left: 0px;
  padding-right: 0px;
  box-sizing: border-box;
}

.filter-bar {
  display: flex;
  flex-direction: row-reverse;
  gap: 16px;
  justify-content: flex-start; /* راست‌چین */
  margin: 24px 0;
}

@media (min-width: 768px) {
  .filter-bar { 
    justify-content: flex-start; /* راست‌چین در دسکتاپ */
  }
}

.events-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin: 0.5rem 0 2rem 0;
  width: 100%;
  max-width: 23.3125rem;
  direction: rtl;
  justify-items: stretch;
  margin-right: 0;
  margin-left: auto;
}

@media (min-width: 768px) {
  .events-grid {
    grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
    gap: 1rem;
    max-width: none;
    margin: 0.5rem 0 2rem 0;
    padding: 0;
    direction: rtl;
    justify-content: start;
    justify-items: stretch;
  }
}



